@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 7%);
}

body {
	color: #ffffff;
	margin: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	font-family: 'Lato', sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.innerBevel {
	border-top: 3px solid hsla(0, 0%, 0%, 0.3);
	border-left: 3px solid hsla(0, 0%, 100%, 0.05);
	border-right: 3px solid hsla(0, 0%, 0%, 0.05);
	border-bottom: 3px solid hsla(0, 0%, 100%, 0.1);
}

.outerBevel {
	border-top: 4px solid hsla(0, 0%, 100%, 0.3);
	border-left: 4px solid hsla(0, 0%, 0%, 0.1);
	border-right: 4px solid hsla(0, 0%, 100%, 0.1);
	border-bottom: 4px solid hsla(0, 0%, 0%, 0.3);
}